*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
    /* border: 3px solid blue; */
    background-color: lightseagreen;
    font-family: 'Roboto', sans-serif;
}

#game{
    height: 100%;
    width: 100%;
}

#boards{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    margin-bottom: 20px;
}

#game > div{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#test{
    height: 200px;
    width: 200px;
    background-color: black;
}

#status{
    display: flex;
    flex-flow: column;
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
}

#status button{
    margin-top: 10px;
    width: 100px;
}

.square{
    height: 50px;
    width: 50px;
    background: none;
    background-color: white;
	color: inherit;
	border: 1px solid black;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    font-size: 10px;
}

.gridContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    border: 3px solid black;
    width: auto;
    display: inline-block;
}

.gridContainer > div{
    display: flex;
}

.water{
    background-color: lightskyblue;
}

.healthyShip{
    background-color: lightslategray;
}

.first{
    border-left-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.last{
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.mid{
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.miss{
    background-color: rgb(21, 132, 201);
    /* background-color: black; */
}

.hitShip{
    background-color: orangered;
}

.selectableShip{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /* height: 100px; */
}
.selectableShip.vertical{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    /* height: 100px; */
}

.selectableShip.vertical{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* height: 100px; */
}

#menu{
    /* border: 1px solid red; */
    height: auto;
}

#menu button{
    background-color: gray;
    color: white;
    margin-bottom: 30px;
    border: 4px solid rgb(77, 77, 77);
    font-size: 20px;
    padding: 20px;
    transition: all .1s ease-in-out;
    font-weight: bold;
}

#menu button:hover{
    transform: scale(1.05);
}

#menu .unavailable:hover{
    transform: none;
}

#menu .unavailable{
    background-color: rgb(68, 68, 68);
    border-color: black;
}


h1 {
    font: bold 5em "Georgia", serif;
    color: #ffc118;
    font-size: 100px;
    margin: 70px 0 30px 0;
 }
 
 .z-text {
    /* Tip: Apply CSS transforms here */
    /* rotateX() == up/down */
    /* rotateY() == left/right */
    transform: rotateX(0deg) rotateY(0deg);
 }
 
 .z-layer:not(:first-child) {
    color: #455a64;
 }

 .rotate{
     margin-bottom: 20px;
 }